* {
    background-color: rgb(66, 59, 59);
    text-decoration: none;
}
.menyou {
    background-color: rgb(77, 66, 66);
}
.men {
    color: aqua;
    background-color: rgb(0, 0, 0);
    padding-right: 9px;
}